<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      File Metadata Microservice
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  </head>
  <body>
    <h1>User Stories</h1>
    <blockquote>
      <p>I can submit a FormData object that includes a file upload.</p>
      <p>When I submit something, I will receive the file size in bytes within the JSON response</p>
    </blockquote>
  </body>
</html>
